.chat{
  
  display: flex;
  flex-direction: row;
}
.names{
  
  
  
  height: 100vh;
  width: 25%;
  border-right: 2px gray solid;
}
.calldiv{
  height: 80vh;
  overflow-y: auto;
}
.calldiv2{
  display: flex;
  flex-direction: column;
}
.namestext{
  background:;
  height: 10vh;
  direction: rtl;
  font-size: 32px;
  
}
.divfill{
  border-bottom: 1px black solid;
}
.fillnames{
  font-size: 24px;
  direction: rtl;
  margin: 20px;
  align-self: center;
  width: 80%;
  height: 5vh;
  border-radius: 20px;
}
.chat-block{
  height: 100vh;
  width: 75%;

}
.cell{
  backdrop-filter:blur(30px);
  box-shadow:2px 2px 8px black;
  border-bottom: 1px black solid;
  background:;
  height: 10vh;
  direction: rtl;
  font-size: 32px;
}


.page{
  
  overflow-y: auto;
  height: 78vh;
}
.page2{
  
  display: flex;
  flex-direction: column;
}
.sent{
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  place-self: center;
  border-radius: 40px;
  height: 10vh;
  width: 80%;
  background:white;
  box-shadow: 2px 2px 8px dimgrey;
  direction: rtl;
  align-items: center;
}

.sent-button{
  margin-right: 10px ;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background:;
  align-content: center;
  text-align: center;
  font-size: 48px;
}
.chatinput{
  border-radius:20px;
  width: 90%;
  height: 5vh;
  background:none;
  border: 1px hwb(0 77% 23%) solid;
}
.card{
  display:flex ;
  flex-direction: row;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 12vh;
  border-bottom: 1px gray solid;
}
.sh{
  width: 300px;
  height: 10%;
  margin: 10px;
  border:black 1px solid;
}
.photo1{
  place-self: center;
  align-self: center;
  margin-top: 6px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  background:rgba(255,204,0,1);
  border-radius: 50%;
}
h3{
  margin: 20px;
}
.bubble{
  direction: rtl;
}
.bubble h3{
  box-shadow:2px 2px 2px black;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 40px 0px 40px 40px;
  backdrop-filter: blur(10px);
  background:rgba(255,204,0,0.9);
}
.bubble2{
  direction: ltr;
}
.bubble2 h3{
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  
  background:rgba(255,255,255);
}