@import url('https://googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap');

*{
  font-family: 'Tajawal' ;
}


.view{
  align-content:center;
}



.chat{
  margin: auto;
  margin-top: 50px;
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  border:1px solid grey;
  border-radius: 15px;
}
.names{
  
  
  direction: rtl;
  height: 100vh;
  width: 50%;
  border-left: 2px gray solid;
}
.calldiv{
  height: 80vh;
  overflow-y: auto;
}
.calldiv2{
  display: flex;
  flex-direction: column;
}
.namestext{
  background:;
  height: 5vh;
  direction: rtl;
  font-size: 32px;
  
}
.divfill{
  border-bottom: 1px black solid;
  
}
.fillnames{
  border:none;
  background:rgba(200,200,200,0.6);
  font-size: 16px;
  direction: rtl;
  margin: 20px;
  align-self: center;
  width: 80%;
  height: 3vh;
  border-radius: 20px;
}
.chat-block{
  height: 80vh;
  width: 75%;

}
.cell{
  z-index: 100;
  backdrop-filter:blur(30px);
  box-shadow:2px 2px 8px black;
  border-bottom: 1px black solid;
  background:;
  height: 10vh;
  direction: rtl;
  font-size: 32px;
}
.theoffer{
  z-index: 99;
  background:rgba(200,200,200,0.2);
  border-radius:15px;
  margin: auto;
  margin-top: 20px;
  border:1px gray solid;
  border-bottom: 1px black solid;
  height: 12vh;
  width: 95%;
  direction: rtl;
  font-size: 32px;
}
.theoffer div{
  font-size: 16px;
  height: 12vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items:center;
  
}

.theoffer div img{
  border-radius: 15px;
  height: 9vh;
  width: 35%;
  
}


.page{
  overflow-y: auto;
  height: 45vh;
}
.page2{
  
  display: flex;
  flex-direction: column;
}
.sent{
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  place-self: center;
  border-radius: 40px;
  height: 7vh;
  width: 80%;
  background:white;
  box-shadow: 2px 2px 8px dimgrey;
  direction: rtl;
  align-items: center;
}

.sent-button{
  margin-right: 10px ;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background:;
  align-content: center;
  text-align: center;
  font-size: 30px;
}
.chatinput{
  border-radius:20px;
  width: 85%;
  height: 3vh;
  background:none;
  border: 1px hwb(0 77% 23%) solid;
}
.card{
  display:flex ;
  flex-direction: row;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 12vh;
  border-bottom: 1px gray solid;
}
.sh{
  width: 300px;
  height: 10%;
  margin: 10px;
  border:black 1px solid;
}



.profillimg{
  place-self: center;
  align-self: center;
  position: relative;
}


.photo1{
  border:1px black solid;
  padding: 10px;
  place-self: center;
  align-self: center;
  margin: 10px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.profillimg .bi.bi-circle-fill{ 
  opacity: 1;
  z-index: 100;
  position: absolute;
  color: green;
  top: 65%;
  left: 14%;
  transition: 0.75s;
}



h3{
  margin: 20px;
}
.bubble{
  direction: rtl;
}
.bubble h3{
  box-shadow:2px 2px 2px gray;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px 0px 20px 20px;
  backdrop-filter: blur(10px);
  background:rgba(255,204,0,0.9);
  font-size: 14px;
}
.bubble2{
  direction: ltr;
}
.bubble2 h3{
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  
  background:rgba(255,255,255);
}