/*this is css code of left bar*/
.left{
  z-index: 100;
  display: flex;
  flex-direction: column;
  
  gap: 15px;
  background:rgb(255,204,0,1);
  background:white;
  border-right: 1px black solid;
  box-shadow:2px 2px 16px rgba(200,200,200,0.6);
  height: 100vh;
  width: 7%;
  text-align: center;
  justify-content: space-between;
  animation:2s left;
}
/*this is the animation of left bar*/
@keyframes left{
  0%{
    height: 0vh;
  }
  100%{
    height: 100vn;
  }
}
.left section{
  border-radius:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background:;
  height: 70vh;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.logo{
  width: 100%;
}
.left .slach{
  align-self: center;
  height: 5px;
  width: 256px;
  background: rgb(255,204,0,1);
  
}
.left div:hover{
  color:rgb(255,204,0,1);
}
.left a{
  text-decoration: none;
  color: black ;
}
.left i{
  font-size: 32px;
}
.left span{
  font-family:'Cairo',sans-serif !important ;
  font-size: 22px;
  font-weight: 700;
}
















/*this is When the system is dark*/
@media (prefers-color-scheme: dark) {
  .left{
  display: flex;
  flex-direction: column;
  gap: 15px;

  background:linear-gradient(rgba(28,28,28),rgba(0,0,0));
}
.left section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 70vh;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.left div{
  color: gold;
}
.left div:hover{
  color: white;
}
}
/*this media for phone*/
@media (max-width:800px){
  .logo{
    width: 100%;
    height: 50px;
  }
  .left{
    width: 15%;
  }
  .left section{
    height: 70vh;
  }
  .left div{
    margin-top: 20px;
  }
  .left i{
  font-size: 24px;
}
  .left span{
  font-size: 14px;
  font-weight: 100;
}


  
}
@media (min-width:1800px){
  .logo{
    width: 100%;
    height: 50px;
  }
  .left{
    background:red;
    width: 7%;
  }
  .left section{
    height: 70vh;
  }
  .left div{
    margin-top: 20px;
  }
  .left i{
  font-size: 44px;
}
  .left span{
  font-size: 20px;
  font-weight: 100;
}


  
}
