@import url('https://googleapis.com');
*{
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}
body{
  overflow-x: hidden;
}


main{
  overflow-x: hidden ;
  overflow-y: auto ;
  display: flex;
}









.view{
  overflow-y: auto;
  width: 93%;
}
.pub{
  height: 120px;
  place-self:center;
  background:gray;
  max-width:100% ;
  min-width:100%;
}
.pub img{
  width: 100%;
  height: 120px;
}














.sh3{
  border-radius:20px;
  margin-left: 40%;
  margin-top: 100px;
  position: absolute;
  background:white;
  height: 60%;
  width: 10%;
  box-shadow:2px 2px 8px rgba(200,200,200,0.6) ; 
}
.sh3 h2{
  justify-self: center;
  font-family:'Cairo',sans-serif !important ;
  font-size: 16px;
}
.sh3 h3{
  padding: 5px;
  height: 50px;
  justify-self: center;
  font-family:'Cairo',sans-serif !important ;
  font-size: 24px;  
  background: linear-gradient(rgba(240,204,20),rgba(255,255,28));
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.shop{
  height: 105%;
}
.titre{
  place-self:center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre div{
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.chang{
  color: rgba(200,200,200,0.6);
  background:white; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
}


.chang:active{
  background:rgb(255,204,0,1);
}


.t{
  font-size: 20px;
  margin-right: 2px;
  width: 15%;
  font-family:'Cairo',sans-serif !important ;
  font-weight: 700;
  direction: rtl;
  align-items:right;
}
.oth{
  font-size: 16px;
  height: 30px;
  border-radius:20px;
  color:black;
  text-decoration: ;
}
.oth:hover{
  color:rgb(255,204,0,1);
}
.t div{
  width: 5%;
  height: 5vh;
  background:rgb(255,204,0);
}
.model{
  width: 65%;
  place-self: center;
  align-content: center;
  overflow: hidden;
  height: 210px;
}
.scrolmodel{
  height: 100%;
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  align-content: center;
}
.car{
  overflow: visible;
  background:white;
  box-shadow:2px 2px 5px rgba(200,200,200,0.2);
  border:rgba(200,200,200,0.2) 2px solid;
  width: 24%;
  border-radius: 20px;
  height: 70%;
  animation: 2s car;
  transition: 0.5s;
}
@keyframes car{
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.car:hover{
  width: 25%;
  height: 90%;
}
.scrolmodel img{
  width: 100%;
  height: 140px;
  font-size: 300px;
}
.scrolmodel .namemodel{
  font-weight: 700;
  margin: 5px;
  color:black;
  font-family:'Cairo',sans-serif !important ;
}
.scrolmodel .num{
  font-weight: 700;
  color:rgba(200,200,200,1);
  font-family:'Cairo',sans-serif !important ;
}
.pope{
  width: 65%;
  place-self: center;
  align-content: center;
  overflow: hidden;
  height: 100px;
}




.scrol1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100px;
  width: 3100px;
  align-items: center;
  align-content: center;
}


.mark{
  background: white;
  box-shadow:2px 2px 5px rgba(200,200,200,0.2);
  border: rgba(200,200,200,0.2) 1px solid;
  height: 75px;
  width: 200px;
  border-radius: 20px;
  transition: 0.5s;
  animation:2s mark;
}
@keyframes mark{
  0%{
    margin: 100px;
  }
  100%{
    
  }
}
.mark:hover{
  height: 88px;
  width: 210px;
}
.mark img{
  width: 150px;
  align-self: center;
}

@keyframes studio{
  0%{
    margin: 100px;
  }
  100%{
    
  }
}
.studio:hover{
  height: 110px;
  width: 125px;
}
.studio img{
  width: 100%;
  align-self: center;
  place-self: center;
}
.car2{
  overflow: visible;
  background:white;
  box-shadow:2px 2px 5px rgba(200,200,200,0.2);
  border:rgba(200,200,200,0.2) 2px solid;
  border-radius: 20px;
  height: 40%;
  animation: 2s car;
  transition: 0.5s;
}
@keyframes car{
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}
.car2:hover{
  height: 60%;
}  
.good{
  align-content: center;
  place-self: center;
  overflow: hidden;
  height: 500px;
  width: 65%;
} 
.scrol2{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px; 
  height: 100%;
}
.offer:nth-child(n+3){
  display: none;
}
.offer{
  display: flex;
  flex-direction: row;
  background:white;
  position: relative;
  height: 175px;
  width: 50%;
  border: rgba(200,200,200,0.2) 1px solid;
  box-shadow: 2px 2px 8px rgba(200,200,200,0.2);
  border-radius: 20px;
  transition: 0.5s;
}

.con{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end ;
}
.offer i,.offer2 i{
  align-self:center;
  font-size: 16px;
  margin: 2px;
  border: 2px solid rgba(200,200,200,0.5);
  border-radius:5px;
  color:rgb(255,204,0,1);
  padding: 5px;
}
#phone{
}
.offer img{
  width: 40%;
  height: 175px;
}
.data{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.name{
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}


.priandfi{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.priandfi h4{
  border-radius: 20px ;
  color:green;
}

.price{
  margin: 0px;
  font-family:'Cairo',sans-serif !important ;
  direction: rtl;
  
  
}
.you{
  margin: 0px;
  font-family:'Cairo',sans-serif !important ;
  direction: ltr;
  width: 100%;
  

  
}
.dat{
  color: rgba(200,200,200,1);
  font-size: 16px;
  direction: rtl;
  width: 80%;
}
.view2{
  width: 80%;
}
.superfill{

  width: 20%;
  height: 100vh;
}
.filltext{
  align-items:center;
  display: flex;
  place-self:center;
  width: 50%;
  height: 5vh;
  font-size: 16px;
}
.fillbox{
  display: flex;
  flex-direction: column;
  height: 95vh ;
}
.fillbox label{
  font-size: 24px;
  direction: rtl;
}
.fillbox select{
  margin: 10px;
  border-radius:5px;
  width: 50%;
}
.exit{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 95%;
  place-self:center;
  height: 10vh;
}
.exit input{
  margin: auto;
  height: 5vh;
  border-radius:20px;
  width: 60%;
}
.studio2{
  height: 90vh;
  overflow-y: auto;
}

.view3{
  width: 100%;
}
.scrol2-2{
  display: grid;
  grid-template-columns: repeat(6,1fr) ;
  gap: 20px;
}





.AI{
  z-index: 100;
  position: absolute;
  background:gold;
  top: 90%;
  left: 95%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 32px;
  animation:AI 1s;
  transition: 0.5s;
}
.AIbar{
  z-index: 100;
  position: absolute;
  background:white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  left: 80%;
  height: 100%;
  border-bottom-left-radius: 20px;
  width: 20%;
  font-size: 32px;
  animation:sittingbar 1s;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: 0.5s;
}
.AI:hover{
  width: 65px;
  height: 65px;
}
@keyframes AI{
  0%{
    top:0%;
    left: 0% ;
    height: 0px;
    width: 0px;
  }
  100%{
    
  }
}

.sitting{
  z-index: 100;
  position: absolute;
  background:gold;
  top: 20%;
  left: 95%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 32px;
  animation:sitting 1s;
  transition: 0.5s;
}
.sitting:hover{
  width: 65px;
  height: 65px;
}
@keyframes sitting{
  0%{
    top:0%;
    left: 0% ;
    height: 0px;
    width: 0px;
  }
  100%{
    
  }
}
.sittingbar{
  z-index: 100;
  position: absolute;
  background:white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  left: 80%;
  height: 50%;
  border-bottom-left-radius: 20px;
  width: 20%;
  font-size: 32px;
  animation:sittingbar 1s;
  backdrop-filter: blur(2px);
  opacity: 1;
  transition: 0.5s;
}

.sittingbar div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  font-family: 'Cairo';
  align-items:center;
}
.sittingbartitre{
  display:flex;
  flex-direction: row;
  color:gray;
  font-family: 'Cairo';
  font-weight: 700;
  font-size: 48px;
}
.sittingbar .lang{
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
}
@media (max-width:800px){
  .view{
    width: 100%;
  }
  .titre{
    width: 95%;
  }
  .titre div{
    width: 50%;
    height: 3vh;
  }
  .t{
    font-size: 16px;
  }
  .t div{
    width: 2%;
  }
  .model{
    height: 30vh;
    width: 100%;
  }
  .scrol{
    width: 100%;
  }
  
  .car:nth-child(n+3){
    display: none ;
  }
  .car{
    width: 100%;
  }
  .car:hover{
    width: 50%;
  }
  .pope{
    overflow-x: auto;
    width: 100%;
  }
  .scrol1{
    width: 100%;
  }
  .mark:nth-child(n+4){
    display: none;
  }
  .mark{
    height: 90px;
    width: 30%;
    
  }
    
  
  .mark img{
    width: 100%;
  }
  .studio:nth-child(n+4){
    display: none;
  }
  .studio{
    height: 80px;
    width: 20%;
  }
  .studio:hover{
    height: 90px;
  }
  .studio img{
    width: 100%;
  }
  .good{
    width: 90%;
  }
  .offer:nth-child(n+2){
    display: none;
  }
  .offer{
    width: 100%;
  }
  .offer:hover{
    width: 100%;
  }


  .sitting,.AI{
    left: 80%;
  }
    

  




  
}









