@import url('https://googleapis.com');
*{
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}
body{
  height: 100vh;
}
main{
  overflow-y: auto ;
  display: flex;
}
.left{
  z-index: 100;
  display: flex;
  flex-direction: column;
  
  gap: 15px;
  background:rgb(255,204,0,1);
  background:white;
  border-right: 1px black solid;
  box-shadow:2px 2px 16px rgba(200,200,200,0.6);
  height: 100vh;
  width: 100px;
  text-align: center;
  justify-content: space-between;
}



.left section{
  border-radius:5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background:;
  height: 70vh;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.logo{
  width: 100%;
}
.left .slach{
  align-self: center;
  height: 5px;
  width: 256px;
  background: rgb(255,204,0,1);
  
}
.left div:hover{
  color:rgb(255,204,0,1);
}


.left a{
  text-decoration: none;
  color: black ;
}
.left i{
  font-size: 32px;
}
.left span{
  font-family:'Cairo',sans-serif !important ;
  font-size: 22px;
  font-weight: 700;
}
.view{
  height: 100vh;
  overflow-y: visible;
  background: none;
  width: 100%;
}
.pub{
  height: 120px;
  place-self:center;
  background:gray;
  max-width:100% ;
  min-width:100%;
}
.pub img{
  width: 100%;
  height: 120px;
}


.hero{
  place-self: center;
  width: 80%;
  z-index: 20;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  height: 300px;
  
}
.slach{
  width: 50%;
}
.hero img{
  background:white;
  position: absolute;
  width: 50%;
  height: 300px;
  
}
.sh0{
  display: flex;
  flex-direction: row;
  direction: rtl;
  border-radius:20px;
  border-top-left-radius: 0px;
  margin-left: 50px;
  margin-top: 200px;
  position: absolute;
  background:white;
  height: 30%;
  width: 60%;
  box-shadow:2px 2px 8px rgba(200,200,200,0.6) ;
}
.filtre1{
  font-family:'Cairo',sans-serif !important ;
  align-content:center;
  text-align:center;
  width: 30%;
  height: 100%;
}
.filtre1 select{
  font-family:'Cairo',sans-serif !important ;
  color: rgb(255,204,0);
  background:none;
  direction: ltr;
  border: rgba(200,200,200,0.6) 1px solid;
  border-radius: 10px;
  width: 90%;
  height: 35%;
}
.filtre1 button{
  font-size: 20px;
  box-shadow:2px 2px 8px rgba(200,200,200,0.6);
  border: 1px solid rgba(200,200,200,0.6); 
  font-weight: 700;
  background: rgb(255,204,0,1);
  border-radius: 10px;
  width: 90%;
  height: 70%;
}
.filtre1 button:active{
  background:rgba(200,200,200,0.6);
}
.filtre1 button span{
  font-family:'Cairo',sans-serif !important ;
  margin: 10px;
}

.she{
  margin-right: 10px;
}
.sh2{
  border-radius:20px;
  margin-left: 50px;
  margin-top: 150px;
  position: absolute;
  background:white;
  height: 25%;
  width: 40%;
  box-shadow:2px 2px 8px rgba(200,200,200,0.6) ;
  
}
.bi.bi-truck, .bi.bi-car-front ,.bi.bi-bicycle {
  font-size: 32px;
}









.type{
  border-radius: 20px;
  margin: 20px ;
  margin-top: 5px;
  height: 40%;
  width: 20%;
  background:none ;
  border: none;
}

.sh3{
  border-radius:20px;
  margin-left: 40%;
  margin-top: 100px;
  position: absolute;
  background:white;
  height: 60%;
  width: 10%;
  box-shadow:2px 2px 8px rgba(200,200,200,0.6) ; 
}
.sh3 h2{
  justify-self: center;
  font-family:'Cairo',sans-serif !important ;
  font-size: 16px;
}
.sh3 h3{
  padding: 5px;
  height: 50px;
  justify-self: center;
  font-family:'Cairo',sans-serif !important ;
  font-size: 24px;  
  background: linear-gradient(rgba(240,204,20),rgba(255,255,28));
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.shop{
  height: 100%;
}
.titre{
  place-self:center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titre div{
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.chang{
  color: rgba(200,200,200,0.6);
  background:white; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
}


.chang:active{
  background:rgb(255,204,0,1);
}


.t{
  font-size: 20px;
  margin-right: 2px;
  width: 15%;
  font-family:'Cairo',sans-serif !important ;
  font-weight: 700;
  direction: rtl;
  align-items:right;
}
.oth{
  font-size: 16px;
  height: 30px;
  border-radius:20px;
  color:black;
  text-decoration: ;
}
.oth:hover{
  color:rgb(255,204,0,1);
}
.t div{
  width: 5%;
  height: 5vh;
  background:rgb(255,204,0);
}
.model{
  width: 65%;
  place-self: center;
  align-content: center;
  overflow: hidden;
  height: 200px;
}
.scrol{
  height: 100%;
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  align-content: center;
}
.car{
  overflow: visible;
  background:white;
  box-shadow:2px 2px 5px rgba(200,200,200,0.2);
  border:rgba(200,200,200,0.2) 2px solid;
  width: 24%;
  border-radius: 20px;
  height: 140px;
  
}
.car:hover{
  width: 25%;
  height: 180px;
}
.scrol div img{
  width: 100%;
  height: 140px;
  font-size: 300px;
}
.scrol div .namemodel{
  font-weight: 700;
  margin: 5px;
  color:black;
  font-family:'Cairo',sans-serif !important ;
}
.scrol div .num{
  font-weight: 700;
  color:rgba(200,200,200,1);
  font-family:'Cairo',sans-serif !important ;
}
.pope{
  width: 64%;
  place-self: center;
  align-content: center;
  overflow: hidden;
  height: 100px;
}
.scrol1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100px;
  width: 3100px;
  align-items: center;
  align-content: center;
}
.mark{
  background: white;
  box-shadow:2px 2px 5px rgba(200,200,200,0.2);
  border: rgba(200,200,200,0.2) 1px solid;
  height: 75px;
  width: 200px;
  border-radius: 20px;
}
.mark:hover{
  height: 88px;
  width: 210px;
}
.mark img{
  width: 150px;
  align-self: center;
}

  
.good{
  align-content: center;
  place-self: center;
  overflow: hidden;
  height: 500px;
  width: 65%;
} 
.scrol2{
  width: 4000px;
  display: flex;
  flex-direction: row;
  gap: 40px; 
  height: 100%;
}
.offer{
  
  background:white;
  position: relative;
  height: 175px;
  width: 250px;
  border: rgba(200,200,200,0.2) 1px solid;
  box-shadow: 2px 2px 8px rgba(200,200,200,0.2);
  border-radius: 20px;
}
.offer:hover{
  height: 200px;
  width: 300px;
}
.offer i{
  color:rgb(255,204,0,1);
  padding: 5px;
  position: absolute;
}
#phone{
  padding-left: 30px;
  position: absolute;
}
.offer img{
  width: 100%;
  height: 100px;
  position: absolute;
}
.name{
  font-family: fantasy;
  width: 100%;
  margin-top:100px ;
  position: absolute;
}
.price{
  font-family:'Cairo',sans-serif !important ;
  direction: rtl;
  
  
  margin-top:150px ;
  position: absolute;
}
.you{
  font-family:'Cairo',sans-serif !important ;
  direction: ltr;
  width: 100%;
  margin-top:150px ;
  
  position: absolute;
}
.dat{
  font-size:12px;
  direction: rtl;
  width: 80%;
  margin-top:125px ;
  position: absolute;
}
@media (prefers-color-scheme: dark) {
  .left{
  display: flex;
  flex-direction: column;
  gap: 15px;

  background:linear-gradient(rgba(28,28,28),rgba(0,0,0));
  height: 110vh;
  width: 100px;
  text-align: center;
}
.left section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 70vh;
  width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.left i{
  font-size: 32px;
  color:gold;
} 

.left div{
  background:white;
}

  
.left span{
  color:gold;
}

.hero img{
  background:linear-gradient(rgba(20,20,20),rgba(28,28,28));
  position: absolute;
}


.sh0{
  color:white;
  background:linear-gradient(rgba(20,20,20),rgba(28,28,28));
  box-shadow: 2px 2px 8px 2px gold;
}

.sh2{
  color:white;
  background:linear-gradient(rgba(20,20,20),rgba(28,28,28));
  box-shadow: 2px 2px 8px 2px gold;
}  
.sh2 i{
  color:white;
} 
.sh3{
  color:white;
  background:linear-gradient(rgba(28,28,28),rgba(20,20,20));
  box-shadow: 2px 2px 8px 2px gold;
}  
.filtre1 button{
  font-family:'Cairo',sans-serif !important ;
  background:linear-gradient(rgba(255,255,255,0.2),rgb(255,204,0,0.5));
  border-radius: 10px;
  width: 90%;
  height: 35%;
}
}
